# Node.js / Bun を使う場合。
## Dependencies
node_modules

# Secret files
.env

# <template replace desc="フレームワークによって Artifact や cache の生成される場所が違うため、フレームワークに合ったもののみ残すこと" />:
dist
build
target
.docusaurus
.astro
.next
.svelte-kit
